Repository brandonlacoste9-tech/Beehive, changes with the labels that .github/labeler.yml gives for each.
All labels: PR-3: Providers, PR-1: Supabase, PR-5: Auth, type: docs, type: test, area: ci-cd

fix(build): resolve Netlify deployment issues and merge conflicts
  .claude/settings.local.json
  COPY_TO_ADGENXAI.bat
  MERGE_TO_ADGENXAI.bat
  fix-corrupted-workflow.py
  lib/email.ts
  lib/platforms/index.ts
  lib/theme.ts
  netlify.toml
  netlify/functions/github-webhook.ts
  netlify/functions/webhook-telemetry.ts
  package-lock.json
  package.json
  packages/webhook-gateway/src/dispatcher.ts
  packages/webhook-gateway/src/router.ts
  packages/webhook-gateway/src/telemetry.ts
  public/robots.txt
  public/sitemap.xml
  scripts/chatgpt-relay.ts
  scripts/email-report.ts
  tsconfig.json
Labels: area: ci-cd

fix(tsconfig): add baseUrl for path alias resolution on Netlify
  tsconfig.json
Labels: none

feat(phase2.1): implement AI Creative Generation Engine with multi-persona targeting
  .claude/settings.local.json
  app/api/generate/evaluate/route.ts
  app/api/generate/route.ts
  app/api/generate/variations/route.ts
  app/components/CreativeStudio/AdPreview.tsx
  app/components/CreativeStudio/CreativeForm.tsx
  app/creative-studio/layout.tsx
  app/creative-studio/page.tsx
  lib/ad-generation.test.ts
  lib/ad-generation.ts
  lib/claude.ts
  lib/personas.ts
  public/sitemap-0.xml
  public/sitemap.xml
Labels: PR-5: Auth, type: test

fix(quality): restore home page & root layout, fix ESLint warnings
  .claude/settings.local.json
  app/components/CreativeStudio/AdPreview.tsx
  app/layout.tsx
  app/page.tsx
  lib/claude.ts
  public/sitemap-0.xml
Labels: PR-5: Auth

feat(api-validation): add comprehensive API validation and hardening utilities
  lib/api-validation.ts
  public/sitemap-0.xml
Labels: none

docs: add comprehensive PR consolidation strategy for 20+ open PRs
  PR_CONSOLIDATION_STRATEGY.md
Labels: type: docs

docs: add Netlify deployment fix guide for failing PRs
  NETLIFY_DEPLOYMENT_FIXES.md
  public/sitemap-0.xml
Labels: type: docs

docs: add PR consolidation execution plan and deployment status report
  CHANGELOG_THEME_IMPORT.md
  DEPLOYMENT_STATUS_REPORT.md
  PR_CONSOLIDATION_EXECUTION_PLAN.md
  check-theme-file.js
Labels: type: docs

chore: update PR template with Phase-2 scoping and module resolution checklist
  .github/pull_request_template.md
  .github/workflows/powershell-smoke.yml
Labels: type: docs, area: ci-cd

chore: add next-sitemap.config.js to satisfy postbuild
  next-sitemap.config.js
Labels: none

test: add minimal Vitest setup (test/setup.ts)
  test/setup.ts
Labels: none

Checkpoint from VS Code for coding agent session
  app/components/AuroraEngine.tsx
  app/components/HeroAurora.tsx
  app/page.tsx
  lib/ad-generation.ts
  lib/personas.ts
  package-lock.json
  package.json
  public/robots.txt
  public/sitemap-0.xml
  public/sitemap.xml
  styles/auroraEngine.css
  styles/components.css
Labels: PR-5: Auth

Configure artifact upload in CLAUDE workflow
  .github/workflows/claude.yml
Labels: area: ci-cd

Create my-agent.md with basic metadata
  .github/agents/my-agent.md
Labels: type: docs, area: ci-cd

fix: remove corrupted GitHub workflows directory
  .github/workflows/- name: Cache   uses: actions/- name: Cache   uses: actions/- name: Cache   uses: actions/- name: Cache   uses: actions/- name: Cache   uses: actions/cache@v4.3.0
Labels: area: ci-cd

fix: Remove corrupted workflow file & add CI workflow and fix scripts
  .github/workflows/- name: Cache   uses: actions/- name: Cache   uses: actions/- name: Cache   uses: actions/- name: Cache   uses: actions/- name: Cache   uses: actions/cache@v4.3.0
  .github/workflows/ci.yml
  docs/WORKFLOW_FIX_GUIDE.md
  pr_body.txt
  scripts/fix-corrupted-workflows.sh
Labels: type: docs, area: ci-cd

Add PJ Ace filmmaker scroll
  CHANGELOG.md
  scrolls/pj-ace-ai-filmmaker.md
  scrolls/scroll_index.json
Labels: type: docs

Harden orchestrator and add tests
  .github/workflows/ci_functions.yml
  .gitignore
  CHANGELOG.md
  netlify/functions/_logger.ts
  netlify/functions/orchestrator.test.ts
  netlify/functions/orchestrator.ts
  package-lock.json
  package.json
  scrolls/rituals.md
  scrolls/scroll_index.json
  tsconfig.json
Labels: type: docs, type: test, area: ci-cd

Update robots.txt and sitemaps for Netlify deploy preview
  public/robots.txt
  public/sitemap-0.xml
  public/sitemap.xml
Labels: none

docs: add Copilot instructions for AI guidance
  .github/copilot-instructions.md
Labels: type: docs, area: ci-cd

Add deployment instructions for Netlify
  .github/instructions/*.instructions.md
Labels: type: docs, area: ci-cd

Update robots.txt and sitemaps for Netlify deploy preview (#178)
  public/robots.txt
  public/sitemap-0.xml
  public/sitemap.xml
Labels: none

docs: Add comprehensive Copilot Build Guide for AdGenXAI platform specification (#186)
  COPILOT_BUILD_GUIDE.md
  DOCS_INDEX.md
  README.md
  package-lock.json
Labels: type: docs

Add health status function and Colony OS signal
  README.md
  netlify/functions/health.ts
Labels: type: docs

Add Vercel config for one-click deploy
  vercel.json
Labels: none

.github/labeler.yml:

# Auto-label PRs by changed paths for Phase-2 organization
# Used by: actions/labeler@v5

"PR-3: Providers":
  - "app/api/chat/**"
  - "app/api/providers/**"
  - "lib/providers/**"
  - "docs/PROVIDER_INTEGRATION.md"
  - "docs/INTEGRATION_QUICKSTART.md"

"PR-1: Supabase":
  - "lib/db/**"
  - "lib/supabase/**"
  - "app/dashboard/**"
  - "docs/DATABASE_SCHEMA.md"
  - "app/api/dashboard/**"
  - "app/api/analytics/**"
  - "app/api/metrics/**"

"PR-5: Auth":
  - "lib/auth/**"
  - "app/auth/**"
  - "app/**/layout.tsx"
  - "app/**/page.tsx"
  - "middleware.ts"
  - "docs/INTEGRATION_QUICKSTART.md"

"type: docs":
  - "docs/**"
  - "**/*.md"

"type: test":
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/__tests__/**"
  - "e2e/**"

"area: ci-cd":
  - ".github/**"
  - ".netlify/**"
  - "netlify.toml"
